<section>
    <h1>About Me</h1>
    <p>Hello, I am Rohit Agarwal. I am a software engineer. This is where I note my experiences while playing with new (and old) technologies.
    </p>
    <p>I also blog <a href="http://blog.mindprince.in">here</a>.
    </p>
    <p>You can find me on
        <a href="https://twitter.com/mindprince">Twitter</a>,
        <a href="https://www.linkedin.com/in/rohitagarwal003">LinkedIn</a> and
        <a href="https://plus.google.com/110953348444823955475?rel=author">Google+</a>.
    </p>
</section>
