---
layout: default
title: Rohit Agarwal's Notes
description: "Hello, I am Rohit Agarwal. I am a software engineer. This is where I note my experiences while playing with new (and old) technologies."
redirect_from: "/archives"
redirect_from: "/archives/"
redirect_from: "/archives/index.html"
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <div class="post-date">{{ post.date | date_to_string }}</div>
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% if post.external-url %}
            <a href="{{ post.external-url }}">&#8594;</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
